.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: calc(100vh - 4rem); /* Adjust based on navbar height */
    width: 100%;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden; 
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    max-width: 600px;
}

.home-image {
    max-width: 100%;
    max-height: 100vh; /* Ensure the image height does not exceed the viewport height */
    height: auto;
    margin-top: 20px;
}