.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 2rem); 
    width: 100%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    max-width: 600px;
}

.home-image {
    max-width: 100%;
    max-height: calc(100vh - 4rem);
    height: auto;
    margin-top: 95px;
}