@tailwind base;
@tailwind components;
@tailwind utilities;

a[data-tooltip] {
    position: relative;
}

a[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

a[data-tooltip]:hover::after {
    opacity: 1;
}